name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install building dependencies
      run: sudo apt update ; sudo apt-get -y install libsdl2-dev
    - name: Build
      run: cargo build --verbose
    - name: Cargo check
      run: cargo check --verbose
